@model ShoppingStore.Models.Products

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Products</h4>
<hr />

<form asp-action="Edit">
    <div class="rounded border p-4 row">
        <input type="hidden" asp-for="Id" />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        
        <div class="col-8">
            <h3 class="text-danger"> @ViewBag.messahge</h3>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Name" class="control-label"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Name" class="form-control" />
                </div>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Price" class="control-label"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Price" class="form-control" />
                </div>
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Image" class="control-label"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Image" class="form-control" type="file" />
                </div>
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="ProductColor" class="control-label"></label>
                </div>
                <div class="col-8">
                    <input asp-for="ProductColor" class="form-control" />
                </div>
                <span asp-validation-for="ProductColor" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="IsAbailable"></label>
                </div>
                <div class="col-8">
                    <input asp-for="IsAbailable" class="" type="checkbox" />
                </div>
                <span asp-validation-for="IsAbailable" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="ProductTypeId" class="control-label"></label>
                </div>
                <div class="col-8">
                    <select asp-for="ProductTypeId" class="form-control" asp-items="ViewBag.ProductTypeId"></select>
                </div>
                <span asp-validation-for="ProductTypeId" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="SpecialTagId" class="control-label"></label>
                </div>
                <div class="col-8">
                    <select asp-for="SpecialTagId" class="form-control" asp-items="ViewBag.TagId"></select>
                </div>
                <span asp-validation-for="SpecialTagId" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-10">
                    <input type="submit" value="Save" class="btn btn-primary" value="Update" />
                    <a class="btn btn-info" asp-action="Index">Back to List</a>
                </div>
            </div>
        </div>
        <div class="col-1"></div>
        <div class="col-3">
            <img src="~/@Model.Image" width="100%" style="border-radius: 5px; height:250px; border: 1px solid #808080" />
        </div>
    </div>
        
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}